
	.root{
        
      /*   background-image: url(../../assets/img/logochica.jpg); */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
      
	}
	.container{
		opacity: 0.8;
        height: 60%;
        margin-top: 70px;
		
    }
	.div{
        margin-top: 58px;
       
		
	}
	.avatar{
		margin:1px;
		background-color: brown;
	}
	.form{
        width: 100%;
        margin-top: 1px;
	
	}
	.button{
		margin: 3, 0, 2;
	}
