
	.login-root{
        
      /*   background-image: url(../../assets/img/logochica.jpg); */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
      
	}
	.login-alfa{
		text-align: center;
	}
	.login-container{
		opacity: 0.8;
        height: 60%;
        margin-top: 70px;
		
    }
	.login-div{
        margin-top: 58px;
       
		
	}
	.login-avatar{
		margin:1px;
		background-color: brown;
		background-image: url(../../img/LogoAlfa.png);
	}
	.login-form{
        width: 100%;
        margin-top: 1px;
	
	}
	.login-button{
		margin: 3, 0, 2;
		color: rgb(53, 142, 243);
	}
