/* ================================================== Detalle Producto =============================================================================== */

h6 {
  text-align: center;
  margin-top: 2px;
}

.detalle {
  font-size: 21px;
  margin-top: 25px;
  text-align: left;
}

.detalleProducto {
  /* background-color: red; */
  /* padding: 0 100px 0 100px !important; */
  width: 80%;
}

.tituloDetalleProducto {
  font-size: 28px;
  color: #00539a;
  font-weight: bold;
  text-align: center;
}
