/* ================================================== Detalle Producto =============================================================================== */

h6 {
  text-align: center;
  margin-top: 2px;
}

.detalle {
  font-size: 19px;
  margin-top: 25px;
  text-align: left;
  margin-left: 50px;
}

.detalleProducto {
   /*background-color: red; */
  /* padding: 0 100px 0 100px !important; */
 /*  width: 80%;
  border:1px solid #2a739e;
 
  margin-left: 150px; */
 
}

.tituloDetalleProducto {
  font-size: 25px;
  text-transform: uppercase;
  color: rgb(0, 60, 139);
  font-weight: bold;
  /* text-align: center; */
  margin-top: 40px;
  margin-left: 50px;
  
}
.detalleimg{
 /* border:1px solid #da9123;*/
}
/* .t-img{
  margin-top: 80px;
  height: auto;
}
 */