/* About us */
.detalle-acordion-t{
  padding: 0 25% 0 10%;
  text-align: justify;
}
.detalle-acordion1{
  padding: 0 60% 0 2%;
  text-align: justify;
}
.detalle-acordion2{
  padding: 0 40% 0 15%;
  text-align: justify;
}
.detalle-acordion3{
  padding: 0 40% 0 20%;
  text-align: justify;
}
.detalle-acordion4{
  padding: 0 35% 0 25%;
  text-align: justify;
}
.detalle-acordion5{
  padding: 0 20% 0 35%;
  text-align: justify;
}
.detalle-acordion6{
  padding: 0 15% 0 50%;
  text-align: justify;
}

.detalle-acordion7{
  padding: 0 10% 0 60%;
  text-align: justify;
}
.detalle-acordion8{
  padding: 0 5% 0 60%;
  text-align: justify;
}
.detalle-acordion9{
  padding: 0 0% 0 60%;
  text-align: justify;
}


  /* query para pantallas moviles*/
 

  @media (max-width: 768px) {
    .color-fecha {
      margin-left: 0 !important;
      width: 100% !important; /* Haz que el div ocupe el ancho completo en dispositivos móviles */
      padding-left: none !important;
     /* background-color: #d66e6e !important;*/
      justify-content: center !important;
      flex-direction: inherit !important;
      margin-top: 0px !important;
      height: 20px !important;
     
      
    }
    .radio-fecha{
      justify-content: center !important;
      flex-direction: column !important;
      align-items: center !important;
    }
    .detalle-acordion-t{
      padding: 0;
      text-align: justify;
    }
    .detalle-acordion1{
      padding: 0;
      text-align: justify;
    }
    .detalle-acordion2{
      padding: 0;
      text-align: justify;
    }
    .detalle-acordion3{
      padding: 0;
      text-align: justify;
    }
    .detalle-acordion4{
      padding: 0;
      text-align: justify;
    }
    .detalle-acordion5{
      padding: 0;
      text-align: justify;
    }
    .detalle-acordion6{
      padding: 0;
      text-align: justify;
    }
    
    .detalle-acordion7{
      padding: 0;
      text-align: justify;
    }
    .detalle-acordion8{
      padding: 0;
      text-align: justify;
    
    }
    .detalle-acordion9{
      padding: 0;
      text-align: justify;
    }
  }
.color-fecha{
  margin: 0;
  display: flex;
  /*background-color: yellow;*/
  height: 20px;
  width:100%;
  justify-items: baseline; 
  transition: 0.5ms;
}

.acordion{
  background-color: #3498db;
  height: 50px;
}


  .imagen-grid{
    width: 30%;
    height: auto;
    justify-content: center;
    margin-left: 50px;
  }
  .fondo-img{
    width: 100%;
    height: auto;
  }


  @media  (max-width: 575px) {
    .empresa-resp{
      margin-top: 85px !important;
    }
    
    .empresa-footer {
     padding-top: 400px !important;
    }
    .detalle-acordion-t{
      padding: 0;
    }
    .detalle-acordion1{
      padding: 0;
    }
    .detalle-acordion2{
      padding: 0;
    }
    .detalle-acordion3{
      padding: 0;
    }
    .detalle-acordion4{
      padding: 0;
    }
    .detalle-acordion5{
      padding: 0;
    }
    .detalle-acordion6{
      padding: 0;
    }
    
    .detalle-acordion7{
      padding: 0;
    }
    .detalle-acordion8{
      padding: 0;
    
    }
    .detalle-acordion9{
      padding: 0;
     }
  }

  @media  (min-width: 576px) and (max-width: 991px) {
    .empresa-resp{
      margin-top: 195px !important;
    }
     .cont-res{
      margin-top: 285px !important;
    }
    .cont-res{
      margin-top: 85px !important;
    }
    .empresa-footer {
     padding-top: 400px !important;
    }
    .detalle-acordion-t{
      padding: 0;
    }
    .detalle-acordion1{
      padding: 0;
    }
    .detalle-acordion2{
      padding: 0;
    }
    .detalle-acordion3{
      padding: 0;
    }
    .detalle-acordion4{
      padding: 0;
    }
    .detalle-acordion5{
      padding: 0;
    }
    .detalle-acordion6{
      padding: 0;
    }
    
    .detalle-acordion7{
      padding: 0;
    }
    .detalle-acordion8{
      padding: 0;
    
    }
    .detalle-acordion9{
      padding: 0;
     }
  }