
.footer {
  background-color: #1178bd;
  color: #ffff;
  padding: 0;
  width: 100%;
  position: absolute;
  display:flex;
  bottom: 0;
}

.datosemp1 {
  margin-top: 10px;
  font-size: 20px;
}

.icono {
  font-size: 50px;
}

.linea {
  border: #ffff 2px solid;
}

.copyright {
  font-size: 18px;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

.facebook:hover {
  animation: heartbeat 1s infinite;
  fill: #4267b2;
  color: #4267b2;
  opacity: 1;
  transition: opacity 500ms;
}

.twitter:hover {
  animation: heartbeat 1s infinite;
  fill: #00acee;
  color: #00acee;
  opacity: 1;
  transition: opacity 500ms;
}

.linkedin:hover {
  animation: heartbeat 1s infinite;
  fill: #0072b1;
  color: #0072b1;
  opacity: 1;
  transition: opacity 500ms;
}
@media screen and (min-width: 576px) and (max-width: 767px){
  
  .footer {
  margin: 0 ;
  width:100%;
  }
}

@media screen and (max-width: 575px){
  .footer {
    margin: 0 ;
    width:100%;
    }
}