.footer {
  width: 100%;
  height: 100%;
  background-color: #1178bd;
  margin-top: 200px;
  color: #ffff;
}
.footer .texto {
  padding-top: 40px;
  margin-top: 40px;
  text-align: center;
  color: #ffff;
  font-size: 22px;
}

.datosemp{
  margin-top: 8px;
  font-size: 20px;
}

.icono{
  font-size: 50px;
}
