/* ========================================= Componente Header ============================================== */
.arriba {
  height: 85px;
  background-color: rgb(255, 253, 253);
  /* position: fixed;
   top: 0px;
   left: 0px;
   right: 0px;
   width: 100%;
   overflow: hidden; */
  
}
.arribainicio{
 
 /*  margin: 85px auto 0px; */
  
 
}

.arriba .logoAlfa {
  height: 100%;
  margin-left: 45px;
  padding: 5px 0 5px 0;
}
.arriba .logoChica {
  height: 100%;
  padding: 5px 0 5px 0;
}
.tituloLafar {
 
  /* text-align:center; 
  font-size: 200px;
 
  transform: scale(.1, 1);
  margin:0;
  display:flex;
 align-items:center;
  justify-content:center; 
  width: 130px;*/
}
.botonlupa {
  height: 100%;
}
.lupahidden {
  visibility: hidden;
  margin-top: -10px;
}
.textobuscador{
  text-align: left;
  font-size: 13px;
}
/* ========================================= Componente Busqueda ============================================== */

.form-select {
  height: 100%;
}
.mostrar-pro {
  font-size: 15px;

}

@media (max-width: 441px) {
  .navbar-brand.tituloLafar {
    display: none !important;
    font-size: 10px !important;
  }
}

@media (max-width: 991px) {
  .navbar-brand.tituloLafar {
    display: none !important;
    font-size: 10px !important;
  }
  .carrucel{
    height: 150px;
   /* background-color: aqua;*/
    
  }
  .carrucel-principal{
    /*background-color: yellow;*/
    
  }
  .carrucel-altura{
    /*background-color: slateblue;
    padding-top: 10px;*/
  }
  

  .nav-bar {
    padding: 0px 0px 0px 0px !important;
    text-align: center;
  }

  .busquer {
    margin-bottom: 400px;
  }

  /* Nuevo panel control */
  .navbar-brand.panelControl button{
    /* display: none !important; */
    font-size: 10px;
    margin-right: -110px;
  }
.panelControl{
  
}
}
/*barra azul del buscador */
.navbar {
  background-color: rgb(17, 120, 189);
  height: 40px;
  margin-bottom: 20px;
}

.navbar .logoAlfa {
  height: 80px;
  margin-left: 80px;
}

.navbar .logo {
  height: 80px;
  margin-left: 80px;
}

.navbar .rel {
  margin-left: 200px;
}
.navbar .busqueda {
  border-radius: 2%;
  /*   background-color: #0018A8; color de buscador en el borde*/
  height: 50px;
  width: 520px;
  margin-left: 400px;
}
.navbar .busqueda .rel {
  /*   background-color: rgb(22, 24, 18);*/
  margin-left: auto;
  width: 500px;
  height: 10px;
  margin-top: -25px;
}
.barra {
  margin-top: 15px;
}
.rel {
  /* background-color: aquamarine;*/
  height: 10px;
}

.buscador1 {
  margin-top: -40px;
  width: 400px;
  height: 40px;
}

.lupa1 {
  background-color: rgb(72, 134, 228);
  height: auto;
  width: auto;
  margin-top: 20px;
}

.lupaicono1 {
  margin-left: 1px;
  margin-top: 1px;
  font-size: 20px;
}

.buscar {
  width: 70%;
  height: 40px;
}

.buscar input {
  height: 40px;
}
/*barra azul donde se puede poner la barra azul mas delgada*/
.nav-bar {
  background-color: rgb(17, 120, 189);
  padding: 35px 0px 35px 0px;
  height: 30px;
}

.rodrigo {
  width: 200px;
}
/*modificar la parte del buscador el contenido cuando se muestran los productos*/
.position-absolute {
  background-color: #fff;
  /* top: 150;
  left: 0; */
  /* width: 100%;
  height: 100%; */
  z-index: 1;
  width: 95%;
}
/*efecto cuando pasa el mouse sobre los productos cuando se muestra*/
.producto-item:hover {
  background-color: lightgray !important;
  color:black;
}
.producto-item {
  width:auto;
  color:black;
}

/*CARRUCEL PRINCIPAL*/
.carrucel{
  width: 100%;
  height: auto;
  margin-left: 0px;
  /* background-color: blueviolet; */
  margin-top: 5px;
}


/*LOGO ALFA CHICA JUNTOS*/

@media   (min-width: 576px) and (max-width: 767px) {
  .logoAlfaprueba {
 /* width: 30% !important;
 height: auto !important;
 padding-top: 10px !important;
 text-align: center !important; */
 display: none !important;
  }
  .busqueda-principal{
    padding-top: 2px !important;
    width: 100% !important;
    height: 100% !important;

  }
  .carrucel-header{
    display: none;
  }
  /*media query tamaño de la pantalla productos*/
  .content{
    margin-top: 50px !important;
  }
  .carrucel-principal{
    margin-top: 100px !important;
    height: 100%;
    width: 100%;
   
  }
  .principal-footer{
    margin-top: -400px !important;
  }
  .carrucel{
    height: 105px !important;
    width: 100% !important;
  }
}
/*tablets*/
@media  (min-width: 768px) and (max-width: 991px){
  .logoAlfaprueba {
    
    display: none !important;
     }
  .busqueda-principal{
    padding-top: 2px !important;
    width: 100% !important;
    height: 100% !important;

  }
  .carrucel-header{
    display: none;
  }
  /*media query tamaño de la pantalla productos*/
  .content{
    margin-top: 50px !important;
  }
  .carrucel-principal{
    margin-top: 90px !important;
    height: 100%;
    width: 100%;
  }
  .principal-footer{
    margin-top: -400px !important;
  }
  .carrucel{
    height: 102px !important;
    width: 100% !important;
  }
}
/* Teléfonos */
@media  (max-width: 575px) {
  .logoAlfaprueba {
    
    display: none !important;
     }
  .busqueda-principal{
    padding-top: 2px !important;
    width: 100% !important;
    height: 100% !important;

  }
  .carrucel-header{
    display: none;
  }
  /*media query tamaño de la pantalla productos*/
  .content{
    margin-top: 50px !important;
  }
  .carrucel-principal{
    margin-top: 95px !important;
    height: 100%;
    width: 100%;
  }
  .principal-footer{
    margin-top: -400px !important;
  }
  .carrucel{
    height: 105px !important;
    width: 100% !important;
  }
  
}


/* Escritorio pequeño / tablet */
/* @media screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape){
  .logoAlfaprueba {
    
    display: none !important;
     }
} */

/* Tablets y phablets */
/* @media only screen and (min-width: 576px) and (max-width: 767px) and (orientation: landscape){
  .logoAlfaprueba {
    
    display: none !important;
     }
} */

