/* ========================================= Componente Header ============================================== */
.arriba {
  height: 110px;
  background-color: #fff;
}

.arriba .logoAlfa {
  height: 100%;
  margin-left: 90px;
  padding: 5px 0 5px 0;
}
.arriba .logoChica {
  height: 100%;
  padding: 5px 0 5px 0;
}

/* ========================================= Componente Busqueda ============================================== */

.form-select {
  height: 100%;
}

/* @media screen and (max-width: 100px) {
  .form-select {
    background-color: olive;

  }
} */

@media screen and (max-width: 991px) {
  .nav-bar {
    /* background-color: rgb(17, 120, 189) !important;  */
    padding: 0px 0px 0px 0px !important;
    text-align: center;
    
  }
}






@media screen and (max-width: 441px) {
  .navbar-brand.tituloLafar {
    background-color: rgb(127, 120, 189) !important; 
    display: none !important;
    font-size: 10px !important; 

  }
}


















@media screen and (max-width: 441px) {
  .form-select {
    /* background-color: rgb(17, 120, 122) !important;  */
    /* padding: 0px 0px 0px 0px !important; */
    height: 12%;
  }
}

@media screen and (max-width: 441px) {
  .busquer {
    /* background-color: rgb(17, 120, 122) !important;  */
    /* padding: 0px 0px 0px 0px !important; */
    /* height: 12%; */
    margin-top: -350px;
  }
}

.navbar {
  background-color: rgb(17, 120, 189);
  height: 70px;
  margin-bottom: 20px;
}

.navbar .logoAlfa {
  height: 80px;
  margin-left: 80px;
}

.navbar .logo {
  height: 80px;
  margin-left: 80px;
}

.navbar .rel {
  margin-left: 200px;
}
.navbar .busqueda {
  border-radius: 2%;
  /*   background-color: #0018A8; color de buscador en el borde*/
  height: 50px;
  width: 520px;
  margin-left: 400px;
}
.navbar .busqueda .rel {
  /*   background-color: rgb(22, 24, 18);*/
  margin-left: auto;
  width: 500px;
  height: 10px;
  margin-top: -25px;
}
.barra {
  margin-top: 15px;
}
.rel {
  /* background-color: aquamarine;*/
  height: 10px;
}

.buscador1 {
  margin-top: -40px;
  width: 400px;
  height: 40px;
}

.lupa1 {
  background-color: rgb(72, 134, 228);
  height: auto;
  width: auto;
  margin-top: 20px;
}

.lupaicono1 {
  margin-left: 1px;
  margin-top: 1px;
  font-size: 20px;
}

.buscar {
  width: 70%;
  height: 40px;
}

.buscar input {
  height: 40px;
}

.nav-bar {
  background-color: rgb(17, 120, 189);
  padding: 45px 0px 45px 0px;
}

.rodrigo {
  width: 200px;
}

.position-absolute {
  background-color: #fff;
  /* top: 150;
  left: 0; */
  /* width: 100%;
  height: 100%; */
  z-index: 1;
}

.producto-item:hover {
  background-color: lightgray !important;
}
