@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.container{
	height: auto;
}
.mapa-tamanio{
    margin-left: -235px;
	height: 600px;
	width: 650px;
}
.seccion{
	background-color: #5098bd;
	height: 600px;
}
.seccion .primero{

	height: auto;
}
.datosemp{
	text-align: left;
	margin-top: 50px;
margin-left: 25px;
}
.linea{
	text-align: left;
	margin-top: 30px;
	margin-left: 30px;
	text-decoration: underline;
}
h4{
	margin-top: 30px;
	text-align: center;
	
}
li{
	margin-top: 20px;
	margin-left: 30px;
}
	.st0{fill:navy;}
	.st1{fill:#B873D2;}
	.st2{fill:#2FA158;}
	.st3{fill:#CFF576;}
	.st4{fill:#F5A6B8;}
	.st5{fill:#A4D7B2;}
	.st6{fill:#C0E828;}
	.st7{fill:#F25AD7;}
	.st8{fill:#42BF87;}
	.st9{fill:#E72C73;}
	.st10{font-family:'Tahoma';}
	.st11{font-size:13px;}
	.st12{font-family:'ArialMT';}

.mapa{
	
 
 width: 600px;
 height: 600px;
	  margin-left: 200px;
	  margin-right: 100px;
	  
}

.seccion .segundo{
	
	height: 600px;
	
}

 
.seccion .tercero{
	
	height: auto;
}

.logo-maps{
	height: 80px;
    margin-left: 270px;
    margin-top: 25px;
    margin-bottom: auto;
}