@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.container {
  height: auto;
}
.mapa-tamanio {
  margin-left: -235px;
  height: 600px;
  width: 650px;
}
.seccion {
  /*background-color: #5098bd;*/
  height: 600px;
}
.seccion .primero {
  height: auto;
}
.datosemp {
  text-align: left;
  margin-top: 50px;
  margin-left: 25px;
}
.linea {
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
  text-decoration: underline;
}
h4 {
  margin-top: 30px;
  text-align: center;
}
li {
  margin-top: 20px;
  margin-left: 30px;
}
.st0 {
  fill: navy;
}
.st1 {
  fill: #b873d2;
}
.st2 {
  fill: #2fa158;
}
.st3 {
  fill: #cff576;
}
.st4 {
  fill: #f5a6b8;
}
.st5 {
  fill: #a4d7b2;
}
.st6 {
  fill: #c0e828;
}
.st7 {
  fill: #f25ad7;
}
.st8 {
  fill: #42bf87;
}
.st9 {
  fill: #e72c73;
}
.st10 {
  font-family: "Tahoma";
}
.st11 {
  font-size: 13px;
}
.st12 {
  font-family: "ArialMT";
}

.mapa {
  width: 600px;
  height: 600px;
  margin-left: 200px;
  margin-right: 100px;
}

.seccion .segundo {
  height: auto;
}

.sinborde {
  outline: none !important;
  box-shadow: none !important;

}

.seccion .tercero {
  height: auto;
}

.logo-maps {
  height: 80px;
  margin-left: 270px;
  margin-top: 25px;
  margin-bottom: auto;
}
