/* .container{
    margin-top: 25px;
    background-color:#fff;
} */

/* .btn-menu1{
    margin-top: 25px;
    height: 170px;
    width: 200px;
    margin-left: 25px;
    background-color: rgb(44, 128, 224);
    border-radius: 5%;
    margin-right: auto;
    
    
} */
/* .btn-menu2{
  margin-top: 15px;
  height: 120px;
  width: 200px;
  margin-left: 25px;
  background-color: rgb(44, 128, 224);
  border-radius: 5%;
  margin-right: auto;
} */
/* .btn-menu1 .imagen1{
    background-color: rgb(27, 126, 93); */
  /* width: 168px;*/
    /* height: 60%;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2%;
} */
/* .btn-menu1 .texto1 {
    background-color: rgb(164, 196, 211);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    margin-bottom: auto;
    border-radius: 5%;
    text-align: center;
   
} */

.fondo-img{
  width: 100%;
  height: 100%;
  border-radius: 5%;
}
/*.btn-menu2{
   height: 50px;
   width: 200px;
   margin-left: 25px;
   margin-top: 30px;
   background-color: rgb(44, 128, 224);
   border-radius: 5%;
   margin-right: auto;
   
   
}*/
/* .btn-menu2 .texto1 {
   background-color: rgb(164, 196, 211);
   margin-top: 10px;
   margin-left: auto;
   margin-right: auto;
   height: 30px;
   margin-bottom: auto;
   border-radius: 5%;
   text-align: center;
   
  
} */

/* h6{
 font-family: sans-serif;
 
} */

/*block de noticias*/
/* .noticia{
   width: 300px;
   height: 300px;
   margin-top: 0%;
}
.gallery {
 padding-top: 0%;
  
}

.gallery .text-center h2 {
 text-transform:uppercase;
 font-weight:550;
 font-size:24px;
   margin-bottom:10px;
   
   color: rgb(47, 170, 241);
}

.gallery figure {
 position: relative;	
 margin-top:0%;
 margin-bottom:30px;
 background: white;
 text-align: center;
 cursor: pointer;
}

.gallery figure img {
   width: 525px;
   height: 250px;
 opacity: 0.8;
}

.gallery figure figcaption {
 padding: 2em;
 color: rgb(72, 161, 189);
 text-transform: uppercase;
 font-size: 1.25em;
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
}

.gallery figure figcaption::before,
.gallery figure figcaption::after {
 pointer-events: none;
}


figure.effect-marley figcaption {
 text-align: right;
}

figure.effect-marley h4,
figure.effect-marley p {
 position: absolute;
 right: 30px;
 left: 30px;
 padding: 10px 0;
}


figure.effect-marley p {
 bottom: 30px;
 color:rgb(43, 131, 231);
 line-height: 1.5;
 -webkit-transform: translate3d(0,100%,0);
 transform: translate3d(0,100%,0);
}

figure.effect-marley h4 {
 top: 30px;
 color:rgb(43, 131, 231);
 -webkit-transition: -webkit-transform 0.35s;
 transition: transform 0.35s;
 -webkit-transform: translate3d(0,20px,0);
 transform: translate3d(0,20px,0);
}

figure.effect-marley:hover h4 {
 -webkit-transform: translate3d(0,0,0);
 transform: translate3d(0,0,0);
}

figure.effect-marley h4::after {
 position: absolute;
 top: 100%;
 left: 0;
 width: 100%;
 height: 4px;
 background: #fff;
 content: '';
 -webkit-transform: translate3d(0,40px,0);
 transform: translate3d(0,40px,0);
}

figure.effect-marley h4::after,
figure.effect-marley p {
 opacity: 0;
 -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
 transition: opacity 0.35s, transform 0.35s;
}

figure.effect-marley:hover h4::after,
figure.effect-marley:hover p {
 opacity: 1;
 -webkit-transform: translate3d(0,0,0);
 transform: translate3d(0,0,0);
}


.action {
 overflow: visible;
 padding: 0px;
 width: 100;
 background: #f2f2f2;
 position: relative;
}
.action .left-text {
 padding: 70px 0;
 padding-right: 60px;
 width: 50%;
}
.action .left-text h4 {
 text-transform: uppercase;
 font-size: 24px;
 font-weight: 600;
 letter-spacing: 1px;
}
.action .left-text p {
 padding-top: 20px;
}
.action .left-text em {
 font-size: 16px;
 color: #aaa;
 font-weight: 300;
 font-style: normal;
}
.action .right-image {
 position: absolute;
 top: 0;
 right: 0;
 width: 50%;
 height: 100%;
 background-size: cover;
 background-position: 0 0;
 background-repeat: no-repeat;

} */



.container2{
 height: 400px;
 width: 100%;
 border: 3px  solid #0081b8;
 padding: 15px 15px 15px 15px;
 overflow-y: auto;
 border-radius: 3%;
}

