@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

.productoImg {
  height: auto;
  width: 100px;
  object-fit: cover;
  margin-left: -8px;
}

body.panel-control-body {
  margin: 0 !important;
  padding-bottom: 0 !important;
  min-height: 0 !important;
}

.nav-item.selected {
  color: #ffff;
  background-color: #2196f3;
  padding: 10px 22px 10px 22px;
  border-radius: 5px;
}
.nav-link:hover {
  color: inherit !important;
  /* color: green !important;  */
  text-decoration: none !important;
}

.nav-item {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

#menu.nav-pills.mb-sm-auto.mb-0.flex-row.align-items-center.align-items-sm-start {
  padding-left: 10px;
}

.logoPanelImage {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .logoPanelImage {
    display: none;
  }
}

.chicaAlfa {
  width: 50%;
  height: auto;
  padding-right: 50px;
}

@media (max-width: 768px) {
  .chicaAlfa {
    display: none;
  }
}

div.mat-mdc-dialog-actions.mdc-dialog__actions {
  text-align: right;
}

.tituloProducto {
  font-size: 36px;
  text-align: left;
  font-weight: 700;
  font-style: normal;
  font-family: Montserrat;
}

.tituloLaboratorio {
  font-size: 48px;
  text-align: center;
  font-family: Helvetica;
  font-weight: 700;
  font-style: normal;
}
