/* ========================================= Componente Producto ============================================== */
.div-producto {
  height: 350px;
  border-radius: 8%;
  width: 250px;
  margin-top: 10px;
  /*  border:2px solid #8a8f9b;*/
  /*color: rgb(78, 78, 78);*/
}

.card {
  margin-top: 70px;
  /* border: none !important; */
}

.img-productos {
  height: 100%;
  width: 100%;
  /* border-radius: 8%; */
  /* width: 250px; */
}

/* ========================================= Componente Paginacion ============================================== */

section.col-12.col-sm-12.col-lg-12 {
  margin-bottom: 80px;
}

.card {
  align-items: center;
  justify-content: center;
  height: 90%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.pagination .page-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
}

.pagination .itemClass a.linkClass {
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 400;
  height: 2.25rem;
  line-height: 1.5;
  text-align: center;
  user-select: none;
  width: 2.25rem;
}

.pagination .itemClass a.linkClass:hover {
  background-color: #0056b3;
}

.pagination .itemClass.active .linkClass {
  background-color: #0069d9;
  color: #fff;
  cursor: default;
  pointer-events: none;
}

.pagination .itemClass.disabled .linkClass {
  background-color: #fff;
  border-color: #dee2e6;
  color: #6c757d;
  cursor: not-allowed;
  pointer-events: none;
}

.pagination .itemClass.disabled .linkClass:hover {
  background-color: #fff;
  border-color: #dee2e6;
  color: #6c757d;
  cursor: not-allowed;
}

.form-select {
  height: 55px !important;
  /* background-color: red; */
}

@media (max-width: 485px) {
  .nav-bar button {
    display: none;
  }

  .nav-bar select {
    font-size: 12px;
  }

  .container-fluid section {
    width: 100% !important;
    padding: 0 0 0 0 !important;
  }
}
