.btn-productos{
    margin-top: 10px;
}
.btn-productos2{

   text-align: center;
}
.boton1{
    /* background-color: rgba(190, 184, 197, 0.438); */
    margin-bottom: 20px;
    height: auto;
    width: 160px;
    padding-bottom: 20px;
   
    
    
}

.btn-btn{
    width: 120px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    
}
h6{
    text-align: center;
 margin-top: 2px;
    
}


.div-producto{
    
    height: 350px;
    border-radius: 8%;
    width: 250px;
    margin-top: 10px;
/*  border:2px solid #8a8f9b;*/
/*color: rgb(78, 78, 78);*/
    
}
.img-productos{
    height: 350px;
    border-radius: 8%;
    /* width: 250px; */
   
}
.logo_producto{
    width: 300px;
    height: 200px;
}

.logo_producto2{
margin-left: 130px;
    margin-top: 10px;
    width: 300px;
    height: 200px;
}

.buscador{
    margin-top: 20px;
    width: 600px;
    height: 40px;
}

/* .buscador2{
    margin-top: 20px;
    width: 100%;
    height: 40px;
} */

.buscador2{
    margin-top: 20px;
    width: 100%;
    height: 40px;
}
.lupa{
    background-color: rgb(72, 134, 228);
    height: auto;
    width: auto;
    margin-top: 20px;
    
   
}

.lupaicono{
   margin-left: 1px;
   margin-top: 1px;
   font-size: 20px;
}
.detalle{
    margin-top: 10px;
    text-align: left;
   
}
.detalleprospecto{
    text-align: left;
    margin-top: 5px;
}
