.btn-productos{
    margin-top: 10px;
}
.btn-productos2{

   
}
.boton1{
    background-color: rgba(190, 184, 197, 0.438);
    margin-bottom: 20px;
    height: auto;
    width: 160px;
    padding-bottom: 20px;
   
    
    
}
.barra-superio-producto{
    height: 50px;
    margin-top: 30px;
    background-color: #3780ee;
}
 .barra-superio-producto-dentro{
   
     margin-top: 5px;
   
   width: 150px;
   height: 20px;
   margin-left: 50px;
   
}
.btn-btn{
    width: 120px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    
}
h6{
    text-align: center;
 margin-top: 2px;
    
}


.div-producto{
    
    height: 450px;
    border-radius: 8%;
    width: 250px;
    margin-top: 25px;
    border:2px solid #2062f0;
    
}
.img-productos{
    height: 450px;
    border-radius: 8%;
    width: 250px;
   
}
.logo_producto{
    width: 300px;
    height: 200px;
}

.logo_producto2{
margin-left: 130px;
    margin-top: 10px;
    width: 300px;
    height: 200px;
}

.buscador{
    margin-top: 20px;
    width: 100%;
}
.lupa{
    background-color: rgb(72, 134, 228);
    height: 40px;
    width: 35px;
    margin-top: 20px;
    
   
}

.lupaicono{
   margin-left: 5px;
   margin-top: 10px;
   font-size: 25px;
}
.detalle{
    margin-top: 100px;
    text-align: left;
   
}
.detalleprospecto{
    text-align: left;
    margin-top: 5px;
}