.btn-productos {
  margin-top: 10px;
}
.btn-productos2 {
  text-align: center;
}
.boton1 {
  /* background-color: rgba(190, 184, 197, 0.438); */
  margin-bottom: 20px;
  height: auto;
  width: 160px;
  padding-bottom: 20px;
}

.btn-btn {
  width: 120px;
  height: 30px;
  margin-left: 20px;
  margin-top: 20px;
}
h6 {
  text-align: center;
  margin-top: 2px;
}

.div-producto {
  height: 350px;
  border-radius: 8%;
  width: 250px;
  margin-top: 10px;
  /*  border:2px solid #8a8f9b;*/
  /*color: rgb(78, 78, 78);*/
}

.div-producto2 {
  height: 500px;
  width: 450px;
  margin-top: 15px;
}

.img-productos {
  height: 100%;
  width: 100%;
  /* border-radius: 8%; */
  /* width: 250px; */
}
.logo_producto {
  width: 300px;
  height: 200px;
}

.logo_producto2 {
  margin-left: 130px;
  margin-top: 10px;
  width: 300px;
  height: 200px;
}

.buscador {
  margin-top: 20px;
  width: 600px;
  height: 40px;
}

/* .buscador2{
    margin-top: 20px;
    width: 100%;
    height: 40px;
} */

.buscador2 {
  margin-top: 20px;
  width: 100%;
  height: 40px;
}
.lupa {
  background-color: rgb(72, 134, 228);
  height: auto;
  width: auto;
  margin-top: 20px;
}

.lupaicono {
  margin-left: 1px;
  margin-top: 1px;
  font-size: 20px;
}

.card {
  margin-top: 70px;
  /* border: none !important; */
}
.card-centro{
  margin-top: 75px;
  margin-left: 120px;

  /* text-justify: auto; */
}

.titulo {
  font-size: 28px;
  color: #00539a;
  font-weight: bold;
}

.imagen {
  width: 100%;
  /* max-height: 70%; */
  display: block;
}

.detalle {
  font-size: 21px;
  margin-top: 25px;
  text-align: left;
}
/* .detalleprospecto{
    text-align: left;
    margin-top: 5px;
} */

.form-select {
  height: 100%;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  font-size: 30px;
  text-align: center;
}
.pagination > .active > a {
  background-color: #47ccde;
  border-color: #47ccde;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #47ccde;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #47ccde;
  border-color: #47ccde;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #47ccde;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
