/* ========================================= Componente Producto ============================================== */
.div-producto {
  height: 250px;
  border-radius: 8%;
  width: 250px;
  margin-top: 10px;
 
  /*  border:2px solid #8a8f9b;*/
  /*color: rgb(46, 155, 243);*/
}



.card {
  margin-top: 70px;
  border:1px solid #ece9e9;
  border-radius: 5%;
  height: 100%;
  width: 100%;
  
  /* border: none !important; */
}

.card-title{
  margin-top: 15px;
  margin-left: 25px;
  text-transform: uppercase;
  color: #003057;
  /*font-weight: bold;*/
  font-weight: normal;
  font-size: 17px;
}
.card-title1{
  margin-top: -10px;
  margin-left: 25px;
  font-size: 13px;
}
.img-productos {
  height: auto;
  width: 200px;
  object-fit: cover;
  margin-left: -8px;
  /* border-radius: 8%; */
  /* width: 250px; */
 
}


/* ========================================= Componente Paginacion ============================================== */

section.col-12.col-sm-12.col-lg-12 {
  margin-bottom: 80px;
}

.card {
  align-items: center;
  justify-content: center;
  height: 90%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.pagination .page-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
}

.pagination .itemClass a.linkClass {
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 400;
  height: 2.25rem;
  line-height: 1.5;
  text-align: center;
  user-select: none;
  width: 2.25rem;
}

.pagination .itemClass a.linkClass:hover {
  background-color: #0056b3;
}

.pagination .itemClass.active .linkClass {
  background-color: #0069d9;
  color: #fff;
  cursor: default;
  pointer-events: none;
}

.pagination .itemClass.disabled .linkClass {
  background-color: #fff;
  border-color: #dee2e6;
  color: #6c757d;
  cursor: not-allowed;
  pointer-events: none;
}

.pagination .itemClass.disabled .linkClass:hover {
  background-color: #fff;
  border-color: #dee2e6;
  color: #6c757d;
  cursor: not-allowed;
}

.form-select {
  height: 55px !important;
}



/*===============================MODAL ===============================================================*/

.modal-title{
  color: #003057;
}

.comprendido{
 margin-left: 52%;
 
}

@media (max-width: 600px) {
  .comprendido {
    margin-left: 32%;
    font-size: 10px;
  }
}
@media (max-width: 1024px) {
  .comprendido {
    margin-left: 32%;
    font-size: 10px;
  }
}
.header{
 /*  border:1px solid #2a739e;
  border-radius: 13%;
  background-color: #003057; */
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(158, 42, 42);
  word-break: break-all;

  
}
@media (max-width: 800px) {
   .logomodal {
    display: none;
  }
}

@media (max-width: 991px) {
  .secction-productos {
   margin-right: 100px;
 }
 .select-producto{
   margin-left: -100px;
   width: auto;
 }
}

/*===========================media query para el buscador y el selct productos======================*/
/* @media (max-width: 485px) {
  .nav-bar .botonLupa {
    display: none;
  }

  .nav-bar select {
    font-size: 12px;
  }

  .container-fluid section {
    width: 100% !important;
    padding: 0 0 0 0 !important;
  }
} */
@media (max-width: 485px) {
  .nav-bar{
    height: 70px !important;
  }
  .busquedaproducto{
    margin-left: -100px !important;
    width: 50% !important;

  }
  .opciones-select{
    color: #003057 !important;
  }
  
  }

  



 