.item{
    height: auto;
    width: 90px;
    
  margin-top: 10px;
}
.item img{
    height: 100%;
    width: 100%;
   /* background-color: slateblue;*/
    padding:-110px;
}
.slider{
   width: 80%;
    margin-right: -60px;
    /*background-color: aqua;*/
    margin-left: -20px;
  
}
.slider-container{
  /** margin-left: 27%;*/
    
   margin-bottom: 0px;
  display: flex;
  background-color: white;
   
}
.principal{
    
    background-color: white;
}
.chica{
    display: inline-block;
  /* background-color: aqua;*/
}
.sliderimagen{
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
  /*  background-color: yellowgreen;*/
}
 .logoChica{
    height: auto;
    width: 95px;
   margin-left: 5px;
}
.logoAlfaprueba{
    height: auto;
    width: 95px;
}
/* .logoChica:hover{
  border-radius:50%;
  -webkit-border-radius:50%;
  box-shadow: 0px 0px 15px 15px rgb(120, 129, 136);
  -webkit-box-shadow: 0px 0px 15px 15px rgb(17, 120, 189);
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  } */
  /* .logoAlfaprueba:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  } */